<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.xelandr.emergencybutton.app" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="26" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.BATTERY_STATS" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<application android:label="EmergencyButton.App.Android">
		<!--<receiver android:name=".BootCompletedReceiver" android:enabled="true" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
			</intent-filter>
		</receiver>-->
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyACTR5vcN5bFHlMuC4w8SWb4Xc-ICcCNI0" />
		<service android:name=".BackgroundService" android:exported="false" android:directBootAware="true" />
	</application>
</manifest>